.upload__container {
  width: 100%;
  display: grid;
  grid-template-columns: 700px 420px;
  justify-content: center;
  gap: 50px;
  align-items: start;
  justify-items: center;
  .upload__video {
    position:relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    h2 {
      position:absolute;
      top:10px;
      left:10px;
      color:#fff;
      font-size:20px;
    }
    video {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}
