.video__data {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    .video__title {
      font-size: 26px;
      margin-bottom:15px;
    }
    .video__createdAt {
      font-size: 12px;
    }
    .video__owner {
      margin-bottom: 10px;
      font-size: 14px;
      a {
        color: cornflowerblue;
        text-decoration: underline;
        font-weight:bold;
      }
    } 
  }

  .btns__wrap {
    overflow:hidden;
    .btn__edit__delete {
      margin:0 2px;
    }
  }
  .video__add-comments {
    margin:20px 0 0;
  }
  .video__comments {
    display: flex;
    flex-direction: column;
    max-width:1200px;
    width: 100%;
    margin:80px auto 0;
    .video__comment {
      position:relative;
      background-color: white;
      border-bottom:1px solid #d2d2d2;
      color:black;
      padding:15px 20px;
      .commentOwner {
        color:#067766;
        font-weight:bold;
      }
      .fas { 
        padding-right:5px;
        font-size:12px;
      }
      .comment__text { 
        font-size:14px;
        line-height:24px;
      }
      .delete__comment {
        display:inline-block;
        margin-left:5px;
        padding:6px 10px;
        border-radius:20px;
        background-color:#077767;
        color:#fff;
        font-size:11px;
        letter-spacing:0;
        cursor:pointer;
      }
    }
  }