extends base

block content
    div.about__wrap
        h2 안녕하세요.
        p 본 웹사이트는 개인의 공부 목적으로 만들어진 곳입니다. 
        p 영상의 출처는 '안토베로' 저의 실제 유튜브 영상들입니다. 
        p
            a(href="https://www.youtube.com/c/ANTOVERO", target="_blank") 안토베로 Drawing Class &rarr;
block scripts
    script(src="/static/js/events.js")