extends base
include mixins/video

block content
    div.video-grid
        each item in videos.reverse()
            +video(item)
        else 
            span.empty__message No videos found
block scripts
    script(src="/static/js/events.js")