extends base

block content 
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        input(placeholder="닉네임을 입력해 주세요.", name="name", type="text", required)
        input(placeholder="이메일을 입력해 주세요.", name="email", type="email", required)
        input(placeholder="아이디를 입력해 주세요.", name="username", type="text", required)
        input(placeholder="패스워드를 입력해 주세요.", name="password", type="password", required)
        input(placeholder="동일한 패스워드를 입력해 주세요.", name="password2", type="password", required)
        br
        br
        label(for="avatar") 대표 이미지를 업로드 하세요.
        input(type="file", id="avatar", name="avatar" accept="image/*")
        br
        br
        input(type="submit", value="회원가입")
        include partials/social-login
    div.auth-switch
        span 이미 계정이 있으신가요?&nbsp;&nbsp;
        a(href="/login") 로그인 &rarr;

    