extends base.pug

block content
    div.upload__container
        div.upload__video
            h2 셀프 녹화 미리보기
            video#preview
            button#actionBtn.social__btn 녹화 (5초 제한)
        if errorMessage
            span=errorMessage
        form(method="POST", enctype="multipart/form-data")
            label(for="video") 영상 파일
            input(type="file", accept="video/*", required, id="video", name="video")
            br
            br
            label(for="thumb") 썸네일 이미지
            input(type="file", accept="image/*", required, id="thumb", name="thumb")
            br
            br
            input(placeholder="영상의 제목을 입력하세요.", required, type="text", name="title", maxlength=80)
            textarea.descArea(cols="30", rows="10", placeholder="영상의 내용을 입력하세요.", required, type="text", name="description", minlength=10)
            //- input(placeholder="영상의 내용을 입력하세요.", required, type="text", name="description", minlength=20)
            input(placeholder="해시태그를 입력하세요. ex) 영화, 원빈, 스릴러", required, type="text", name="hashtags")
            input(type="submit", value="영상 올리기")

block scripts
    script(src="/static/js/recorder.js") 